<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" tools:ignore="ScopedStorage" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".TScannerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TScanner"
        android:localeConfig="@xml/locales_config">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ocr.OcrResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.viewer.PdfViewerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout" />

        <activity
            android:name=".ui.editor.CropRotateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.editor.PostScanEditorActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.docmanagement.DocumentManagementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.idcard.IdCardComposeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.camera.CameraScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TScanner" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <!-- Google Play Services ML Kit Models automatic download (Document Scanner, Barcode, OCR) -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="document_ui,barcode_ui,ocr,ocr_chinese,ocr_japanese,ocr_korean,ocr_devanagari" />

    </application>

</manifest>
